ngb-carousel {
    max-width: 800px;
    margin: 50px auto;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-caption {
    right: 25%;
    left: 25%;
    bottom: 0%;
    top: 0%;
    background:rgba(0,0,0,0.5);
    color:floralwhite;
    /*background-color: lightgrey;*/
}


div.new_html_code {
    width:415px;
    height:150px;
    min-width:180px;
    min-height:150px;
    max-width:415px;
    max-height:150px;
    overflow:hidden;
    display:block;
   /* background-color: #17a2b8;*/
  }

  @media(min-width:500px) and (max-width: 575px) {
    div.new_html_code {
        height:150px;
        min-height:150px;
        max-width:241px;
        max-height:150px;
        overflow:hidden;
        display:block;
        /*background-color: #17a2b8;*/
      }
  }