ngb-carousel {
    max-width: 800px;
    margin: 50px auto;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-caption {
    right: 25%;
    left: 25%;
    bottom: 0%;
    top: 0%;
    background:rgba(0,0,0,0.5);
    color:floralwhite;
    /*background-color: lightgrey;*/
}


div.new_html_code {
    width:415px;
    height:150px;
    min-width:180px;
    min-height:150px;
    max-width:415px;
    max-height:150px;
    overflow:hidden;
    display:block;
   /* background-color: #17a2b8;*/
  }

  @media(min-width:500px) and (max-width: 575px) {
    div.new_html_code {
        height:150px;
        min-height:150px;
        max-width:241px;
        max-height:150px;
        overflow:hidden;
        display:block;
        /*background-color: #17a2b8;*/
      }
  }

  @media(max-width:320px){
    div.new_html_code{
      min-height: 150px;
      max-width: 160px;
      min-width: 0px;
      max-height: 150px;
      overflow: hidden;
      display: block;
    }
}
  @media(min-width:321px) and (max-width:360px){
      div.new_html_code{
        min-height: 150px;
        max-width: 180px;
        max-height: 150px;
        overflow: hidden;
        display: block;
      }
  }

  @media(min-width:361px) and (max-width:375px){
    div.new_html_code{
      min-height: 150px;
      max-width: 187px;
      max-height: 150px;
      overflow: hidden;
      display: block;
    }
}
@media(min-width:376px) and (max-width:414px){
    div.new_html_code{
      min-height: 150px;
      max-width: 205px;
      max-height: 150px;
      overflow: hidden;
      display: block;
    }
}
