ngb-carousel {
    max-width: 800px;
    margin: 50px auto;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-caption {
    right: 25%;
    left: 25%;
    bottom: 0%;
    top: 0%;
    background:rgba(0,0,0,0.5);
    color:floralwhite;
    /*background-color: lightgrey;*/
}


div.new_html_code {
    width:415px;
    height:150px;
    min-width:180px;
    min-height:150px;
    max-width:415px;
    max-height:150px;
    overflow:hidden;
    display:block;
   /* background-color: #17a2b8;*/
  }

  @media(min-width:500px) and (max-width: 575px) {
    div.new_html_code {
        height:150px;
        min-height:150px;
        max-width:241px;
        max-height:150px;
        overflow:hidden;
        display:block;
        /*background-color: #17a2b8;*/
      }
  }

  @media(max-width:320px){
    div.new_html_code{
      min-height: 150px;
      max-width: 160px;
      min-width: 0px;
      max-height: 150px;
      overflow: hidden;
      display: block;
    }
}
  @media(min-width:321px) and (max-width:360px){
      div.new_html_code{
        min-height: 150px;
        max-width: 180px;
        max-height: 150px;
        overflow: hidden;
        display: block;
      }
  }

  @media(min-width:361px) and (max-width:375px){
    div.new_html_code{
      min-height: 150px;
      max-width: 187px;
      max-height: 150px;
      overflow: hidden;
      display: block;
    }
}
@media(min-width:376px) and (max-width:414px){
    div.new_html_code{
      min-height: 150px;
      max-width: 205px;
      max-height: 150px;
      overflow: hidden;
      display: block;
    }
}

.container-fluid {
  position: relative;
  text-align: center;
  color: white;
 
 
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 25px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.img {
  width: 100%;
}
.container-fluid .content {
  position: absolute; /* Position the background text */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
}
.btn {
  font-weight: normal;
    /* background-color: rgb(255, 255, 255); */
    color: white;
    box-shadow: none !important;
    padding: 12px 24px;
    border-width: initial;
    border-color: initial;
    border-image: initial;
    border-style: none;
}
.btn:hover{
background-color: rgb(255, 255, 255);
color: rgb(0, 120, 130);
}
.btn-group, .btn-group-vertical {
  /* position: absolute; */
  display: flex;
  /* vertical-align: middle; */
}

@media (min-width: 768px) {
  .centered {
    font-size: 45px;
  }
}