<!--<div class="main-content">
<ng2-smart-table *ngIf="sellers" [settings]="settings" [source]="dataSource"> </ng2-smart-table>
<ng2-smart-table *ngIf="buyers" [settings]="settings1" [source]="dataSource1"> </ng2-smart-table>
</div>-->
<!-- label: {{category}} -->


  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Groundnut</div>
            </div>
            <!-- <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div> -->
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdqPkakW9SdbooWFt5xxgpgIF2luscMdD7b6j_wQQbYfx7y9x9&usqp=CAU" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">15tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹450 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Corn</div>
            </div>
            <!-- <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div> -->
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded"  src="https://cdn.britannica.com/36/167236-050-BF90337E/Ears-corn.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">25tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹500 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Bajra</div>
            </div>
            <!-- <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div> -->
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded" src="https://www.kisaanhelpline.com/product_image/bajra-4.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">50tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹4000 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Wheat</div>
            </div>
            <!-- <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div> -->
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded" src="https://www.apnikheti.com/upload/crops/5252idea99wheat-863392_960_720.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">100tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹10,000 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

