<!--<div class="main-content">
<ng2-smart-table *ngIf="sellers" [settings]="settings" [source]="dataSource"> </ng2-smart-table>
<ng2-smart-table *ngIf="buyers" [settings]="settings1" [source]="dataSource1"> </ng2-smart-table>
</div>-->
<!-- label: {{category}} -->


  <!-- Content Row -->
  <!-- <div class="row">

  
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Groundnut</div>
            </div>
         
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdqPkakW9SdbooWFt5xxgpgIF2luscMdD7b6j_wQQbYfx7y9x9&usqp=CAU" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">15tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹450 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Corn</div>
            </div>
           
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded"  src="https://cdn.britannica.com/36/167236-050-BF90337E/Ears-corn.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">25tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹500 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Bajra</div>
            </div>
            
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded" src="https://www.kisaanhelpline.com/product_image/bajra-4.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">50tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹4000 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 h5">Product</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Wheat</div>
            </div>
            
          </div>
          <div class="row no-gutters align-items-center">
            <img  class="img-thumbnail rounded" src="https://www.apnikheti.com/upload/crops/5252idea99wheat-863392_960_720.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="row no-gutters align-items-center" style="padding-top: 0.5rem;">
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Availability</div>
              <div class="mb-0 font-weight-bold text-gray-800">100tons</div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price/Unit</div>
              <div class="mb-0 font-weight-bold text-gray-800">₹10,000 per 1 ton</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div class="row mar">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <!-- <div class="card-style">
        <p><strong class="header-color">GROUNDNUT</strong></p>
        <ul>
            <li>AVAILABILITY: 15tons</li>
            <li>PRICE/UNIT: ₹450 per 1 ton</li>
        </ul>
    </div> -->
    <div class="card-style">
      <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <p>15tons</p>
         <p>₹450 per 1 ton</p> 
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 justify-content-center header-color">
        <h5 class="header-color">GROUNDNUT</h5>
      </div>  
     </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <!-- <div class="card-style">
      <p><strong class="header-color">CORN</strong></p>
      <ul>
          <li>AVAILABILITY: 25tons</li>
          <li>PRICE/UNIT: ₹750 per 1 ton</li>
      </ul>
  </div> -->
  <div class="card-style">
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>25tons</p>
       <p>₹750 per 1 ton</p> 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 justify-content-center header-color">
      <h5 class="header-color">CORN</h5>
    </div>  
   </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <!-- <div class="card-style">
      <p><strong class="header-color">BAJRA</strong></p>
      <ul>
          <li>AVAILABILITY: 50tons</li>
          <li>PRICE/UNIT: ₹4500 per 1 ton</li>
      </ul>
  </div> -->
  <div class="card-style">
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>50tons</p>
       <p>₹4500 per 1 ton</p> 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 justify-content-center header-color">
      <h5 class="header-color">BAJRA</h5>
    </div>  
   </div>
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <!-- <div class="card-style">
      <p><strong class="header-color">WHEAT</strong></p>
      <ul>
          <li>AVAILABILITY: 100tons</li>
          <li>PRICE/UNIT: ₹10,000 per 1 ton</li>
      </ul>
  </div> -->
  <div class="card-style">
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>100tons</p>
       <p>₹10,000 per 1 ton</p> 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 justify-content-center header-color">
      <h5 class="header-color">WHEAT</h5>
    </div>  
   </div>
  </div>
</div>

</div>