.search-field
{
    height:50px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: floralwhite;
    margin-bottom: 10px;
}
.search-btn
{
    height: 50px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;

}
.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}
.form-box{
    background: rgba(108,90,140);
    padding: 30px;
}


    @media(max-width:767px) {
        .hide-link{display:none;}
        }
    @media(min-width:768px){
        .hide-menu{display:none;}
    }

    .change-color:hover{
         background-color: white;
         color:black; ;
    }
