.search-field
{
    height:50px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: floralwhite;
    margin-bottom: 10px;
}
.search-btn
{
    height: 50px;
    /* background: #ffeb3b; */
    background:  #57a9d2 ;
    border: none;
    color: #000;
    border-radius: 25px;

}
.search-btn:hover{
    /* background: #ffc107; */
    background: #0088cc;
    cursor: pointer;
}
.form-box{
   /* background: rgba(108,90,140); */
   background: #46765d;
    padding: 30px;
}
.btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: ghostwhite;
}

    @media(max-width:767px) {
        .hide-link{display:none;}
        }
    @media(min-width:768px){
        .hide-menu{display:none;}
    }

    .change-color:hover{
         background-color: white;
         color:black; ;
    }
