<div>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="col-lg-8 col-md-8 col-xs-2">
        <button mat-icon-button class="hide-menu">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <a class="navbar-brand" >Farmers</a>
        <span class="menu-spacer"></span>
          <a mat-button [routerLink]="'/about'" class="hide-link change-color"> About </a>
          <a mat-button [routerLink]="'/dashboard'" class="hide-link change-color"> Various Links </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-10" style="float: right;text-align: right;">
          <a  [routerLink]="'/signup'" mat-button class="btn-light" style="margin:4px;"> Sign Up</a>
          <a  [routerLink]="'/login'" mat-button class="btn-primary"> Login</a>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>


    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>

          <a mat-list-item [routerLink]="'/about'"> About </a>
          <a mat-list-item [routerLink]="'/various-links'"> Various Links </a>
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div>
          <app-carousel></app-carousel>
          <div class="container-fluid">
            <form [formGroup]="searchForm" (ngSubmit)=onSearch()>
             <div class="row form-box">

              <div class="col-sm-6">
                <div class="row">


                    <div class="col-sm-6 form-group">
                        <select class="form-control search-field" formControlName="category">
                        <option value="" disabled selected>Buy/Sell/Farm Equipment/Etc</option>
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                        <option value="farmEquipment">Farm Equipment</option>
                        <option value="coldStorage">Cold Storage</option>
                        </select>
                    </div>


                    <div class="col-sm-6 form-group">
                  <!-- <input type="text" class="form-control search-field" formControlName="product" placeholder="Product Name " > -->
                  <input type="text" formControlName="product"
                           placeholder="Product Name"
                           aria-label="Number" class="form-control search-field"
                           matInput search-field
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                </div>

              </div>
            </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                    <!-- <input type="text" class="form-control search-field" formControlName="location" placeholder="Location" > -->
                    <!-- <input type="text" class="form-control search-field" (keydown.enter)="$event.preventDefault()" formControlName="location" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search> -->
                    <input class="form-control search-field" formControlName="location" placeholder="Location" ngx-google-places-autocomplete [options]='optionsLocation' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 form-group">
                    <input type="number" name="distance" class="form-control search-field" formControlName="distance" placeholder="Distance in KM" min="20" max="100">
                  </div>

              <div class="col-lg-2 col-md-2 col-sm-2" >
                <button type="submit" class="btn search-btn" style="width: 100%;padding-top: 5px;padding-bottom: 5px;">Search</button>
              </div>
               </div>
            </form>
              </div>


          <app-trade-info-table> </app-trade-info-table>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
